@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
	--font-poppins :"Poppins", sans-serif;
	--font-merriweather :"Merriweather", serif;
	--theme-blue-dark: #3953b2 ;
	--theme-blue-dark-light: #3953b25f ;
	--theme-blue-light: #6278c9 ;
	--theme-bg-light: #f2f9ff;
	--text-color-white:#FFF;
	--glass-bg: rgba(255, 255, 255, .25);
	--glass-bg-border: rgba(255, 255, 255, .18);
	--text-color-dark: #252525;
}
body{
	font-family: var(--font-poppins);
	background-color: #f2f9ff;
	overflow-x: hidden;
	color: var(--text-color-dark);
	
}
p{
	margin: unset;
}
.pad-0cus{
	padding: 0px;
}
.text-color-white{
	color: var(--text-color-white);
}
.ts{
	text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.f-20{
	font-size: 20px;
}
.f-25{
	font-size: 25px;
}
.f-27{
	font-size: 27px;
}

.f-15{
	font-size: 15px;
}
.f-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-600{
	font-weight: 600;
}
.container{
	width: 70%; 
}
.ls-welcome{
	letter-spacing: 1px;
}
.font_merriweather{
font-family: var(--font-merriweather);
}
.slick-slider{
	overflow: hidden;
	top: 1%;
}
.slick-active, .slick-current{
	outline: none !important;
	border: none !important;
}
.slick-track{
	display: flex;
	align-items: center;
}
.slick-dots{
	bottom: 1px;
}
.slick-dots li button:before{
	color: var(--theme-blue-dark);
}
.slick-dots li.slick-active button:before{
color: var(--theme-blue-dark) !important;
}